{% extends "network/layout.html" %}

{% block body %}

        <h1 style="margin-left: 35px;">All Posts</h1>
        {% for post in page_obj %}
            <div class="well">
                <a href="{% url 'profile' post.creator.id %}">{{ post.creator }}</a>: posted in {{ post.time_of_creation }}: <br> <span id="mycontent{{ post.id }}">{{ post.content }} </span><br>
              <h6><a href="{% url 'comment' post.id %}">Comments</a></h6>
              <button type="button"  onclick="edit_post({{ post.id }})">Edit</button>
              <div id="{{ post.id }}" style="display:none">
                      <textarea name="content" id="content{{ post.id }}" rows="3" cols="180">{{ post.content }}</textarea>
                      <button id="bel" onclick="save_post({{ post.id }})">Save</button>
              </div>
            </div>

        {% endfor %}


        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <script>

              function edit_post(post_id) {
                  //document.getElementsByClassName("bel post_id").style.display = 'block';
                  fetch(`/edit_2/${post_id}`)
                  .then(response => response.json())
                  .then(post => {
                    console.log(post);
                    let div = document.getElementById(post_id)
                    div.style.display = "block";

              })
            }
            function save_post(post_id){

                     const w_content = document.getElementById("content"+post_id).value;
                        fetch(`/edit_2/${post_id}`, {
                          method: 'PUT',
                          body: JSON.stringify({
                              content: w_content
                          })
                        })
                    .then(response => response.json())
                    .then(result => {
                      document.getElementById("mycontent" + post_id).innerHTML = w_content;
                      let div = document.getElementById(post_id);
                       div.style.display = "none";

                  })

                }

        </script>


{% endblock %}
